<!-- FOOTER -->
<!-- ======== @Region: #footer ======== -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col">
        <div class="block contact-block">
          <!--@todo: replace with company contact details-->
          <h3> Contact Us</h3>
          <address>
            <ul class="fa-ul">
              <li>
                <abbr title="Phone"><i class="fa fa-li fa-phone"></i></abbr>
                +613 9340 9001
              </li>
              <li>
                <abbr title="Email"><i class="fa fa-li">@</i></abbr>
                <a href="mailto:info@websurvey.com.au">info@websurvey.com.au</a>
              </li>
              <li>
                <abbr title="Address"><i class="fa fa-li fa-home"></i></abbr>
                2nd floor, 51 – 55 Johnston Street, Fitzroy , Victoria 3065, Australia
              </li>
              <li>
                <abbr title="Address"><i class="fa fa-li fa-envelope"></i></abbr>
                PO Box 1166, Carlton, Victoria 3053, Australia
              </li>
            </ul>
          </address>
        </div>
      </div>
      <div class="col-md-4 col">
        <div class="block newsletter">
          <h3>Stay in touch</h3>
          <p>Stay up to date with our latest news and product releases by signing up to our newsletter.</p>
          <!--@todo: replace with mailchimp code-->
          <form role="form">
            <div class="input-group input-group-sm">
              <label class="sr-only" for="email-field">Email</label>
              <input type="text" class="form-control" id="email-field" placeholder="Email">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Go!</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="toplink">
        <a href="#top" class="top-link" title="Back to top">Back To Top <i class="fa fa-chevron-up"></i></a>
      </div>
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
      <div class="col-md-12">
      <a class="navbar-brand" href="/" title="WebSurvey Home">
        <img src="/img/web-survey-logo-sm.png" width="100" height="22" alt="WebSurvey"></a><span class="strat-dat"> a <a href="http://www.strategicdata.com.au/" title="Strategic Data">Strategic Data</a> business. &copy; 2014</span></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <ul class="list-inline footer-menu">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>