/*
 * 	Toolbar for Flexmonster Pivot Table & Charts Component
 *	Version 2.2
 */

/* TOOLBAR */
#fm-toolbar-wrapper {
	height: 80px;
}
#fm-toolbar {
	width: 100%;
	height: 78px;
	float: left;
	list-style: none;
	border-top: 1px solid #dcdcdc;
	/*border-bottom: 1px solid #cccccc;*/
	background: #FFFFFF;
}

#fm-toolbar, #fm-toolbar div, #fm-toolbar span, #fm-toolbar p, #fm-toolbar a,
#fm-toolbar table, #fm-toolbar th, #fm-toolbar tr, #fm-toolbar td,
#fm-toolbar ul, #fm-toolbar li,
#fm-toolbar input, #fm-toolbar textarea, #fm-toolbar select {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: left;
	padding: 0;
	margin: 0;
	font-weight: normal;
	text-shadow: none;
}

/* TABS */
#fm-toolbar > li > a {
	background-size: 45px 45px;
}
.fm-dropdown-content > li > a {
	background-size: 45px 45px;
}
/* Connect tab */
#fm-tab-connect > a {
	background-image: url(img/toolbar/menu_database-icon_large.png);
}
#fm-tab-connect-local-csv > a {
	background-image:url(img/toolbar/menu_csv_large.png);
}
#fm-tab-connect-local-ocsv > a {
	background-image:url(img/toolbar/menu_ocsv_large.png);
}
#fm-tab-connect-remote-csv > a {
	background-image:url(img/toolbar/menu_csv_large.png);
}
#fm-tab-connect-local-json > a {
	background-image: url(img/toolbar/menu_json_large.png);
}
#fm-tab-connect-olap > a {
	background-image: url(img/toolbar/menu_olap_large.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-connect > a {
		background-image: url(img/toolbar/menu_database-icon_large@2x.png);
	}
	#fm-tab-connect-local-csv > a {
		background-image:url(img/toolbar/menu_csv_large@2x.png);
	}
	#fm-tab-connect-local-ocsv > a {
		background-image:url(img/toolbar/menu_ocsv_large@2x.png);
	}
	#fm-tab-connect-remote-csv > a {
		background-image:url(img/toolbar/menu_csv_large@2x.png);
	}
	#fm-tab-connect-local-json > a {
		background-image: url(img/toolbar/menu_json_large@2x.png);
	}
	#fm-tab-connect-olap > a {
		background-image: url(img/toolbar/menu_olap_large@2x.png);
	}
}
.fm-mobile #fm-tab-connect-remote-csv > a {
	background-image:url(img/toolbar/menu_csv_large.png);
}
.fm-mobile #fm-tab-connect-olap > a {
	background-image: url(img/toolbar/menu_olap_large.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.fm-mobile #fm-tab-connect-remote-csv > a {
		background-image:url(img/toolbar/menu_csv_large@2x.png);
	}
	.fm-mobile #fm-tab-connect-olap > a {
		background-image: url(img/toolbar/menu_olap_large@2x.png);
	}
}
/* Open tab */
#fm-toolbar #fm-tab-open .fm-dropdown-content span {
	left: 10px;
}
#fm-tab-open > a {
	background-image: url(img/toolbar/menu_folder-icon_large.png);
}
#fm-tab-open-local-report > a {
}
#fm-tab-open-remote-report > a {
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-open > a {
		background-image: url(img/toolbar/menu_folder-icon_large@2x.png);
	}
	#fm-tab-open-local-report > a {
	}
	#fm-tab-open-remote-report > a {
	}
}
.fm-mobile #fm-tab-open-remote-report > a {
	background-image: url(img/toolbar/menu_folder-icon_large.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.fm-mobile #fm-tab-open-remote-report > a {
		background-image: url(img/toolbar/menu_folder-icon_large@2x.png);
	}
}
/* Save tab */
#fm-tab-save > a {
	background-image: url(img/toolbar/menu_save-icon_large.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-save > a {
		background-image: url(img/toolbar/menu_save-icon_large@2x.png);
	}
}
/* Grid tab */
#fm-tab-grid > a {
	background-image: url(img/toolbar/menu_table-icon_large.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-grid > a {
		background-image: url(img/toolbar/menu_table-icon_large@2x.png);
	}
}
/* Charts tab */
#fm-tab-charts > a {
	background-image: url(img/toolbar/menu_chart-icon_bar_large.png);
}
#fm-tab-charts-bar > a {
	background-image: url(img/toolbar/menu_chart-icon_bar_large.png);
}
#fm-tab-charts-line > a {
	background-image: url(img/toolbar/menu_chart-icon_line_large.png);
}
#fm-tab-charts-scatter > a {
	background-image: url(img/toolbar/menu_chart-icon_scatter_large.png);
}
#fm-tab-charts-pie > a {
	background-image: url(img/toolbar/menu_chart-icon_pie_large.png);
}
#fm-tab-charts-bar-stack > a {
	background-image: url(img/toolbar/menu_chart-icon_bar-stack_large.png);
}
#fm-tab-charts-bar-line > a {
	background-image: url(img/toolbar/menu_chart-icon_bar-line_large.png);
}
#fm-tab-charts-multiple > a {
	background-size: 13px 13px;
	background-position: 16px center !important;
	background-image: url(img/controls/check-box_unchecked.png);
}
#fm-tab-charts-multiple.fm-selected > a {
	background-image: url(img/controls/check-box_checked.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-charts > a {
		background-image: url(img/toolbar/menu_chart-icon_bar_large@2x.png);
	}
	#fm-tab-charts-bar > a {
		background-image: url(img/toolbar/menu_chart-icon_bar_large@2x.png);
	}
	#fm-tab-charts-line > a {
		background-image: url(img/toolbar/menu_chart-icon_line_large@2x.png);
	}
	#fm-tab-charts-scatter > a {
		background-image: url(img/toolbar/menu_chart-icon_scatter_large@2x.png);
	}
	#fm-tab-charts-pie > a {
		background-image: url(img/toolbar/menu_chart-icon_pie_large@2x.png);
	}
	#fm-tab-charts-bar-stack > a {
		background-image: url(img/toolbar/menu_chart-icon_bar-stack_large@2x.png);
	}
	#fm-tab-charts-bar-line > a {
		background-image: url(img/toolbar/menu_chart-icon_bar-line_large@2x.png);
	}
	#fm-tab-charts-multiple > a {
		background-image: url(img/controls/check-box_unchecked@2x.png);
	}
	#fm-tab-charts-multiple.fm-selected > a {
		background-image: url(img/controls/check-box_checked@2x.png);
	}
}
.fm-mobile #fm-tab-charts-bar > a {
	background-image: url(img/toolbar/menu_chart-icon_bar_large.png);
}
.fm-mobile #fm-tab-charts-line > a {
	background-image: url(img/toolbar/menu_chart-icon_line_large.png);
}
.fm-mobile #fm-tab-charts-scatter > a {
	background-image: url(img/toolbar/menu_chart-icon_scatter_large.png);
}
.fm-mobile #fm-tab-charts-pie > a {
	background-image: url(img/toolbar/menu_chart-icon_pie_large.png);
}
.fm-mobile #fm-tab-charts-bar-stack > a {
	background-image: url(img/toolbar/menu_chart-icon_bar-stack_large.png);
}
.fm-mobile #fm-tab-charts-bar-line > a {
	background-image: url(img/toolbar/menu_chart-icon_bar-line_large.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.fm-mobile #fm-tab-charts-bar > a {
		background-image: url(img/toolbar/menu_chart-icon_bar_large@2x.png);
	}
	.fm-mobile #fm-tab-charts-line > a {
		background-image: url(img/toolbar/menu_chart-icon_line_large@2x.png);
	}
	.fm-mobile #fm-tab-charts-scatter > a {
		background-image: url(img/toolbar/menu_chart-icon_scatter_large@2x.png);
	}
	.fm-mobile #fm-tab-charts-pie > a {
		background-image: url(img/toolbar/menu_chart-icon_pie_large@2x.png);
	}
	.fm-mobile #fm-tab-charts-bar-stack > a {
		background-image: url(img/toolbar/menu_chart-icon_bar-stack_large@2x.png);
	}
	.fm-mobile #fm-tab-charts-bar-line > a {
		background-image: url(img/toolbar/menu_chart-icon_bar-line_large@2x.png);
	}
}
/* Format tab */
#fm-tab-format .fm-dropdown-content li {
	width: 170px !important;
}

#fm-tab-format > a {
	background-image: url(img/toolbar/menu_format-icon_large.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-format > a {
		background-image: url(img/toolbar/menu_format-icon_large@2x.png);
	}
}

#fm-tab-format-cells > a,
.fm-mobile #fm-tab-format-cells > a {
	background-image: url(img/toolbar/menu_format_cells_large.png);
}
#fm-tab-format-conditional > a,
.fm-mobile #fm-tab-format-conditional > a {
	background-image: url(img/toolbar/menu_format_conditional_large.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-format-cells > a,
	.fm-mobile #fm-tab-format-cells > a {
		background-image: url(img/toolbar/menu_format_cells_large@2x.png);
	}
	#fm-tab-format-conditional > a,
	.fm-mobile #fm-tab-format-conditional > a {
		background-image: url(img/toolbar/menu_format_conditional_large@2x.png);
	}
}

/* Options tab */
#fm-tab-options > a {
	background-image: url(img/toolbar/menu_options-icon_large.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-options > a {
		background-image: url(img/toolbar/menu_options-icon_large@2x.png);
	}
}
/* Fields tab */
#fm-tab-fields {
	float: right !important;
}
#fm-tab-fields > a {
	background-image: url(img/toolbar/menu_fields-icon_large.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-fields > a {
		background-image: url(img/toolbar/menu_fields-icon_large@2x.png);
	}
}
/* Export tab */
#fm-tab-export {
	float: right !important;
}
#fm-tab-export > a {
	background-image: url(img/toolbar/menu_export-icon_large.png);
}
#fm-tab-export .fm-dropdown {
	width: 119px;
}
#fm-tab-export .fm-dropdown-content li {
	width: 117px !important;
}
#fm-tab-export-print > a {
	background-image: url(img/toolbar/menu_print_large.png);
}
#fm-tab-export-html > a {
	background-image: url(img/toolbar/menu_html_large.png);
}
#fm-tab-export-csv > a {
	background-image: url(img/toolbar/menu_csv_large.png);
}
#fm-tab-export-excel > a {
	background-image: url(img/toolbar/menu_xls_large.png);
}
#fm-tab-export-image > a {
	background-image: url(img/toolbar/menu_img_large.png);
}
#fm-tab-export-pdf > a {
	background-image: url(img/toolbar/menu_pdf_large.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-export > a {
		background-image: url(img/toolbar/menu_export-icon_large@2x.png);
	}
	#fm-tab-export-print > a {
		background-image: url(img/toolbar/menu_print_large@2x.png);
	}
	#fm-tab-export-html > a {
		background-image: url(img/toolbar/menu_html_large@2x.png);
	}
	#fm-tab-export-csv > a {
		background-image: url(img/toolbar/menu_csv_large@2x.png);
	}
	#fm-tab-export-excel > a {
		background-image: url(img/toolbar/menu_xls_large@2x.png);
	}
	#fm-tab-export-image > a {
		background-image: url(img/toolbar/menu_img_large@2x.png);
	}
	#fm-tab-export-pdf > a {
		background-image: url(img/toolbar/menu_pdf_large@2x.png);
	}
}
/* Fullscreen tab */
#fm-tab-fullscreen {
	float: right !important;
	width: 68px !important;
}
#fm-tab-fullscreen > a {
	background-image: url(img/toolbar/menu_fullscreen-in-icon_large.png);
}
:-webkit-full-screen #fm-tab-fullscreen > a {
	background-image: url(img/toolbar/menu_fullscreen-out-icon_large.png);
}
:-moz-full-screen #fm-tab-fullscreen > a {
	background-image: url(img/toolbar/menu_fullscreen-out-icon_large.png);
}
:-ms-fullscreen #fm-tab-fullscreen > a { /*IE11*/
	background-image: url(img/toolbar/menu_fullscreen-out-icon_large.png);
}
:fullscreen #fm-tab-fullscreen > a { /*Microsoft Edge*/
	background-image: url(img/toolbar/menu_fullscreen-out-icon_large.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-fullscreen > a {
		background-image: url(img/toolbar/menu_fullscreen-in-icon_large@2x.png);
	}
	:-webkit-full-screen #fm-tab-fullscreen > a {
		background-image: url(img/toolbar/menu_fullscreen-out-icon_large@2x.png);
	}
	:-moz-full-screen #fm-tab-fullscreen > a {
		background-image: url(img/toolbar/menu_fullscreen-out-icon_large@2x.png);
	}
	:-ms-fullscreen #fm-tab-fullscreen > a { /*IE11*/
		background-image: url(img/toolbar/menu_fullscreen-out-icon_large@2x.png);
	}
	:fullscreen #fm-tab-fullscreen > a { /*Microsoft Edge*/
		background-image: url(img/toolbar/menu_fullscreen-out-icon_large@2x.png);
	}
}

/* Tabs */
#fm-toolbar li {
	background: none;
	float: left;
	padding: 0;
	position: relative;
	width: 57px;
}
#fm-toolbar a {
	height: 76px;
	margin: 1px 1px 1px 0px;
	display: block;
	text-decoration: none;
	background-position: center 10px;
	background-repeat: no-repeat;
}
#fm-toolbar a > span {
	text-align: center;
}
#fm-toolbar li:first-child a {
	margin-left: 1px;
}
#fm-toolbar li:hover > a, #toolbar a.Active{
	background-color: #e5e5e5;
}
#fm-toolbar > li > a > span {
	position: absolute;
	top: 52px;
	line-height: 10px;
	left: 0;
	right: 0;
}
#fm-toolbar li.fm-divider {
	width: 0px;
	margin: 11px 1px 0px 0px;
	height: 55px;
	border-right: 1px dotted #dcdcdc;
}
#fm-toolbar li.fm-v-divider {
	height: 0px;
	width: 140px;
	border-bottom: 1px dotted #dcdcdc;
}
/* Tab menu */
#fm-toolbar div.fm-shadow-container,
div.fm-shadow-container {
	padding: 3px;
	background: #e6e6e6;
	filter: alpha(opacity=80);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	background-color: rgba(230, 230, 230, 0.8);
}
#fm-toolbar .fm-dropdown {
	position: absolute;
	display: none;
	top: 78px;
	margin: 0px 1px 1px 0px;
	border-top: 1px solid #cccccc;
	z-index: 12;
}
#fm-toolbar li:first-child div {
	margin-left: 1px;
}
#fm-toolbar .fm-dropdown-content:after {
	content: '';
	border-width: 5px;
	border-color: transparent transparent #ffffff;
	border-style: outset outset solid;
	border-style: solid;
	top: -10px;
	left: 20px;
	width: 0;
	height: 0;
	position: absolute;
}
#fm-toolbar .fm-dropdown-content:before {
	content: '';
	border-color: transparent transparent #cccccc;
	border-style: outset outset solid;
	border-width: 6px;
	position: absolute;
	top: -12px;
	left: 19px;
}
#fm-toolbar .fm-align-rigth .fm-dropdown-content:after {
	left: inherit;
	right: 20px;
}
#fm-toolbar .fm-align-rigth .fm-dropdown-content:before {
	left: inherit;
	right: 19px;
}
#fm-toolbar .fm-dropdown-content {
	position: relative;
	padding: 0;
	list-style: none;
	background: #FFFFFF;
	border: 1px solid #cccccc;
}
#fm-toolbar .fm-dropdown-content li {
	float: none;
	width: 140px;
}
#fm-toolbar .fm-dropdown-content a {
	text-shadow: none;
	text-align: left;
	padding: 0;
	margin: 0px 1px 1px 1px;
	height: 37px;
	background-position: left center;
	background-repeat: no-repeat;
}
#fm-toolbar .fm-dropdown-content li:first-child a {
	margin-top: 1px;
}
#fm-toolbar .fm-dropdown-content a.disabled {
	pointer-events: none;
	cursor: default;
	color: #AAA;
}
#fm-toolbar .fm-dropdown-content a:hover {
	background-color: #e5e5e5;
}
#fm-toolbar .fm-dropdown-content span {
	display: inline;
	position: absolute;
	left: 45px;
	right: auto;
	bottom: 11px;
}

/* POPUP WINDOW */
div.fm-popup {
	font-size: 12px;
	position: absolute;
	min-width: 300px;
	z-index: 13;
	font-family: Tahoma, Arial, sans-serif;
	color: #333333;
}
div.fm-panel div {
	box-sizing: content-box;
}
div.fm-panel .fm-panel-content {
	position: relative;
	background: #ffffff;
	border: 1px solid #c8c8c8;
}
div.fm-panel .fm-toolbox {
	background: #ffffff;
	border-top: 1px dotted #dcdcdc;
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-bottom: 0px;
}
div.fm-panel .fm-panel-content .fm-title-bar {
	clear: both;
	height: 13px;
	padding: 9px 10px 10px 10px;
}
div.fm-panel .fm-panel-content .fm-title-bar .fm-title-text {
	line-height: 13px;
	text-align: left;
	float: left;
	font-size: 13px;
	text-shadow: none;
}
div.fm-panel .fm-panel-content .fm-title-bar a.fm-close-button {
	display: block;
	cursor: pointer;
	background: transparent url(img/controls/close-n-cancel-button_large.png) center center no-repeat;
	width: 13px;
	height: 13px;
	float: right;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	div.fm-panel .fm-panel-content .fm-title-bar a.fm-close-button {
		background: transparent url(img/controls/close-n-cancel-button_large@2x.png) center center no-repeat;
		background-size: 13px 13px;
	}
}
/* Forms */
table.fm-form {
	margin: 10px 10px 0px 10px;
	border-spacing: 0;
	border-collapse: collapse;
	text-shadow: none;
}
table.fm-form td {
	vertical-align: middle;
	padding: 0px 0px 10px 0px;
}
table.fm-form th {
	text-align: left;
	padding: 0px 0px 7px 0px;
	font-weight: normal;
	font-size: 12px;
}
table.fm-form label {
	display: inline-block;
	margin: 0;
	text-shadow: none;
	vertical-align: top;
}
/* Connect to OLAP */
#fm-popup-connect-olap {
	width: 310px;
}
#fm-popup-connect-olap th, #fm-popup-connect-olap span {
	font-weight: normal;
	padding: 0px 0px 2px 0px;
	font-size: 11px;
}
#fm-popup-connect-olap .fm-half-button {
	width: 60px;
}
#fm-popup-connect-olap .fm-half-input {
	width: 243px;
	margin-bottom: 2px;
}
    #fm-popup-connect-olap input {
        float: none;
    }

/* Format cells */
#fm-popup-format-cells {
	min-width: 0;
}
#fm-popup-format-cells {
	margin: 10px 5px 5px 10px;
}
#fm-popup-format-cells td {
	text-align: right;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 7px;
}
#fm-popup-format-cells td input {
	width: 141px;
}
/* Conditional formatting */
#fm-popup-conditional {
	margin-bottom: 15px;
}
#fm-popup-conditional th {
	padding: 10px 0px 4px 4px;
	font-weight: normal;
	font-size: 11px;
}
#fm-popup-conditional span {
	font-weight: normal;
	font-size: 11px;
}
#fm-popup-conditional td {
	padding-bottom: 7px;
	min-width: 160px;
}
#fm-popup-conditional .fm-colorPicker {
	float: right;
	margin: 0px 0px 0px 3px;
}
#fm-popup-conditional td .fm-colorPicker td {
	border: 1px solid #000000;
	margin: 0px;
	padding: 0px;
	height: 9px;
	min-width: 9px;
}
#fm-popup-conditional #fm-conditions-list {
	margin: 0;
	padding: 0;
	max-height: 200px;
	width: 510px;
	overflow-y: auto;
	overflow-x: hidden;
}
#fm-popup-conditional #fm-conditions-list li {
    position: relative;
	width: 510px;
	clear: both;
	list-style: none !important;
	background: none;
	padding: 8px 0px 10px 5px;
	border-top: 1px dotted #cccccc;
}
#fm-popup-conditional #fm-conditions-list li:first-child {
	border-top: none;
}
#fm-popup-conditional #fm-conditions-list li .fm-left-container {
	float: left;
}
#fm-popup-conditional #fm-conditions-list li .fm-left-container div *,
#fm-popup-conditional #fm-conditions-list li .fm-right-container div * {
	float: none;
}
#fm-popup-conditional #fm-conditions-list li .fm-left-container div span {
	margin: 0;
}
#fm-popup-conditional #fm-conditions-list li .fm-left-container div * {
	margin: 0px 5px 8px 5px;
}
#fm-popup-conditional #fm-conditions-list li .fm-right-container div * {
	margin: 0px 5px 0px 5px;
}
#fm-popup-conditional #fm-conditions-list li select {
	width: 151px;
}
#fm-popup-conditional #fm-conditions-list li input[type=text] {
	width: 42px;
}
#fm-popup-conditional #fm-conditions-list li input.fm-wide[type=text] {
	width: 130px;
}
#fm-popup-conditional #fm-conditions-list li span#fm-and-label {
	width: 30px;
	text-align: center;
	white-space: nowrap;
}
#fm-popup-conditional .fm-sample {
	display: inline;
	float: right !important;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	border: 1px solid #D2D2D2;
	height: 19px;
	padding: 0;
	text-indent: 4px;
	vertical-align: top;
	line-height: 18px;
	width: 72px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
#fm-popup-conditional .fm-remove-condition {
	cursor: pointer;
	display: block;
    position: absolute;
    right: 24px;
    top: 27px;
	width: 13px;
	height: 13px;
	text-indent: -99999px;
	background: transparent url(img/controls/remove-button_v1.png) center center no-repeat;
}
#fm-popup-conditional .fm-link-button {
	margin: 5px 0px 5px 10px;
	text-indent: 18px;
	background: transparent url(img/controls/add-button_v1.png) left center no-repeat;
	background-size: 13px 13px;
}
@media screen and (max-width: 520px) {
	#fm-popup-conditional #fm-conditions-list,
	#fm-popup-conditional #fm-conditions-list li {
		min-width: initial;
	}
	#fm-popup-conditional #fm-conditions-list li .fm-left-container {
		float: none;
		width: 240px;
	}
	#fm-popup-conditional #fm-conditions-list li select {
		display: block;
		width: 228px;
	}
	#fm-popup-conditional #fm-conditions-list li select#fm-font-family {
		display: inline-block;
		width: 130px;
	}
	#fm-popup-conditional #fm-conditions-list li select#fm-font-size {
		display: inline-block;
		width: 90px;
	}
	#fm-popup-conditional #fm-conditions-list li input[type=text] {
		width: 88px;
	}
	#fm-popup-conditional #fm-conditions-list li input.fm-wide[type=text] {
		width: 223px;
	}
	#fm-popup-conditional .fm-remove-condition {
		top: 71px;
	}
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#fm-popup-conditional .fm-remove-condition {
		background: transparent url(img/controls/remove-button_v1@2x.png) center center no-repeat;
		background-size: 13px 13px;
	}
	#fm-popup-conditional .fm-link-button {
		background: transparent url(img/controls/add-button_v1@2x.png) left center no-repeat;
		background-size: 13px 13px;
	}
}
/* Layout popup */
#fm-popup-options .fm-form td {
	padding: 4px 0px 4px 0px;
}

/* GENERAL */
/* Button */
a.fm-button {
	display: block;
	float: right;
	text-decoration: none;
	color: #333333;
	outline: none;
	background: #ffffff;
	border-left: 1px dotted #cccccc;
	text-align: center;
	width: 80px;
	height: 31px;
	line-height: 30px;
	padding: 0px;
	padding-top: 1px;
	font-size: 11px;
	font-weight: normal;
	text-shadow: none;
}
a.fm-button:hover {
	background: #F5F5F5;
	color: #333333;
}
a.fm-button:active {
	background: #D6D6D6;
}
a.fm-button.fm-disabled {
	pointer-events: none;
	cursor: default;
	color: #aaa;
}
a.fm-button:hover.fm-disabled {
	background: #ffffff;
}
a.fm-button:active.fm-disabled {
	background: #ffffff;
}
/* Half button */
a.fm-half-button {
	font-size: 11px;
	display: block;
	float: right;
	padding: 0;
	margin: 0;
	height: 19px;
	line-height: 19px;
	/*background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );*/
	background-color: #f3f3f3;
	border: 1px solid #999;
	color: #555555;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	text-shadow: none;
}
a.fm-half-button:hover {
	color: #555555;
}
/* Link button */
a.fm-link-button {
	display: block;
	color: #333333;
	font-size: 11px;
	font-weight: normal;
	text-shadow: none;
}
a.fm-link-button:hover {
	display: block;
	color: #333333;
	font-size: 11px;
	font-weight: normal;
	text-shadow: none;
}
div.fm-popup input[type=radio] {
	margin: 2px 4px 0px 4px;
	padding: 0;
}
div.fm-popup input {
	font-size: 11px;
	outline: none;
}
div.fm-popup input[type=text],
div.fm-popup input[type=password] {
	border: 1px solid #999;
	-webkit-appearance: none;
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow:	none;
	height: 19px;
	padding: 0px 0px 0px 4px;
	margin: 0;
	width: 150px;
	color: #202020;
	line-height: 19px;
	line-height: 20px\9; /* ie7-8 hack */
	text-align: left;
	font-family: Tahoma, Arial, sans-serif;
}
div.fm-popup input:disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	background-color: #fff;
}
div.fm-popup input.fm-half-input {
	padding-right: 0;
	border-right: none;
}
div.fm-popup select {
	border: 1px solid #999;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	border-radius: 0px;
	margin: 0;
	outline: none;
	background: #ffffff;
	background-image: url(img/controls/combo-box_arrow.png);
	background-position: right 5px; 
	background-repeat: no-repeat;
	background-size: 13px 8px;
	height: 21px;
	line-height: 18px;
	font-size: 11px;
	font-family: Tahoma, Arial, sans-serif;
	width: 100%;
	color: #202020;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	div.fm-popup select {
		background-image: url(img/controls/combo-box_arrow@2x.png);
	}
}
div.fm-popup select:disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
div.fm-popup select * {
	margin: 0 !important;
}
div.fm-popup select option.placeholder {
	color: white;
    font-size: 0px;
    display: none;
}
div.fm-clear {
	clear: both;
}

/* Hack for Firefox */
@-moz-document url-prefix() {
	select {
		text-indent:0;
	}
}

/* COLOR PICKER */
div.fm-colorPicker {
	display: inline-block;
	vertical-align: top;
	border: 0 !important;
	padding: 0px !important;
	margin-top: 4px !important;
	cursor: pointer;
	background-image: url(img/colorPicker/color-picker_text-color-icon.png);
	background-size: 21px 13px;
	background-repeat: no-repeat;
	background-position: center center; 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-indent: -99999px;
	height: 13px !important;
	width: 21px !important;
	line-height: 22px !important;
}
div.fm-bgColorPicker {
	background-image: url(img/colorPicker/color-picker_bg-color-icon.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	div.fm-colorPicker {
		background-image: url(img/colorPicker/color-picker_text-color-icon@2x.png);
	}
	div.fm-bgColorPicker {
		background-image: url(img/colorPicker/color-picker_bg-color-icon@2x.png);
	}
}
.fm-colorPreview {
	cursor: default;
	float: left;
	position: static;
	border: 1px inset #ffffff;
	margin: 4px 4px 4px 4px;
	width: 50px;
	height: 19px;
}
.fm-swatchPanel {
	clear: both;
	cursor: default;
	text-indent: 0px;
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	border: 1px solid #9a9a9a;
	z-index: 9999;
}
.fm-swatchPanel input {
	font-size: 12px;
	position: static;
	max-width: 70px;
	margin: 4px 4px 4px 0px !important;
}
.fm-swatchPanel table {
	clear: both;
	cursor: pointer;
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 4px;
}
.fm-swatchPanel td { 
	border: 1px solid #000000;
	margin: 0px;
	padding: 0px;
	height: 9px;
	width: 9px;
}
.fm-swatchPanel table div {
	display: block;
	position: static;
	border: none;
	height: 9px;
	width: 9px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}
.fm-swatchPanel table div:hover {
	border: 1px solid #FFFFFF;
	height: 7px;
	width: 7px;
}
#fm-credentials-checkbox {
	cursor: pointer;
	display: inline-block;
	margin-left: 0px;
	margin-right: 4px;
	width: 13px;
	height: 19px;
	background: url("img/controls/check-box_unchecked.png") no-repeat center center;
	background-size: 13px 13px;
}
#fm-credentials-checkbox.fm-selected {
	background: url("img/controls/check-box_checked.png") no-repeat center center;
	background-size: 13px 13px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#fm-credentials-checkbox {
		background: url("img/controls/check-box_unchecked@2x.png") no-repeat center center;
		background-size: 13px 13px;
	}
	#fm-credentials-checkbox.fm-selected {
		background: url("img/controls/check-box_checked@2x.png") no-repeat center center;
		background-size: 13px 13px;
	}
}
#fm-credentials-label {
    vertical-align: top;
}
#fm-credentials span {
    display: inline-block;
    width: 65px;
}

#fm-credentials input {
    width: 110px;
    height: 17px;
}

#fm-credentials {
    padding: 5px;
}